<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="false" debug="false">

    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>digested_db.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>digested_db.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %C.%M\(%file:%line\) %msg%n</pattern>
        </encoder>
    </appender>
        <logger name="ch.qos.logback" level="WARN"/>

    <logger name="hr" level="DEBUG"/>

    <logger name="sun.nio.ch" level="WARN"/>
    <logger name="org.xnio" level="ERROR" />
    <logger name="org.xnio.nio" level="ERROR" />
    <logger name="io.undertow" level="WARN" />
    <logger name="org.jboss" level="WARN" />

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING"/>
    </root>

</configuration>
